body {
  padding: 20px;
  margin: 0 auto;
  max-width: 1440px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-home__leftCol {
  flex-basis: 50%;
}
.dashboard-home__rightCol {
  flex-basis: 50%;
}