<!DOCTYPE html>
<html>
  <head>
    <title>Context creator</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>Context creator</h1>
    <section style="padding:1em;margin-bottom: 3em;border:1px solid #ccc;">
      <form method="post" action="{{ url_for('context.add_restaurant') }}">
        {{ form.hidden_tag() }}
        {{ form.legal_name.label }} {{ form.legal_name() }}
        {{ form.business_structure.label }} {{ form.business_structure() }}
        {{ form.ein.label }} {{ form.ein() }}
        {{ form.business_address.label }} {{ form.business_address() }}
        {{ form.business_nature.label }} {{ form.business_nature() }}
        {{ form.owner_info.label }} {{ form.owner_info() }}
        {{ form.governing_law.label }} {{ form.governing_law() }}
        {{ form.contact_details.label }} {{ form.contact_details() }}
        {{ form.submit() }}
    </form>
    </section>
    <section style="padding:1em;border:1px solid #ccc;">
      <form id="chatForm" style="display: flex;flex-direction: column;">
        <label for="userInput">Ask me anything and I'll see what context is required to answer</label>
        <input type="text" id="userInput">
        <button type="submit">Ask</button>
      </form>
      <div id="response"></div>
    </section>
    <script>
      $(document).ready(function(){
          $("#chatForm").submit(function(event){
              event.preventDefault();

              var userInput = $("#userInput").val();
              console.log("Submitting:", userInput); // For debugging

              $.post("/context/create_context", {user_input: userInput}, function(data){
                  if(data.response) {
                      $("#response").html(data.response);
                  } else if(data.error) {
                      $("#response").html("Error: " + data.error);
                  }
                  $("#userInput").val(''); // Clear input field after submission
              }, "json").fail(function(){
                  $("#response").html("Sorry, there was an error processing your request.");
              });
          });
      });
    </script>
  </body>
</html>
