<!DOCTYPE html>
<html>
<head>
  <title>Travel Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% include 'navbar.html' %}
  <div class="dashboard-home">
    <div class="dashboard-home__leftCol">
      <h5>Context</h5>
      <form method="post" action="{{ url_for('travel.add_travel') }}">
        {{ form.hidden_tag() }}

        {{ form.destination() }}

        {{ form.season() }}

        {{ form.travelers() }}

        {{ form.preferences() }}

        {{ form.travel_style() }}

        {{ form.interests() }}

        {{ form.special_requirements() }}

        {{ form.submit() }}
      </form>
    </div>
    <div class="dashboard-home__rightCol">
      <h5>LLM</h5>
    </div>
  </div>
</body>
</html>
